<h3>Home</h3>
<p>
  Bienvenue sur la page d'accueil de <%= @owner_name %>
</p>
<p>
  Je suis né le <%= @owner.birthdate %>.
</p>
<p>
  Encore <%= @owner.countdown %> jours avant mon anniversaire!
</p>
